
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :abstract %><br>
    <%= form.text_area :abstract %><br>
    <% @article.errors.full_messages_for(:abstract).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :authors %><br>
    <%= form.text_area :authors %><br>
    <% @article.errors.full_messages_for(:authors).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :publish_date %><br>
    <%= form.date_field :publish_date %><br>
    <% @article.errors.full_messages_for(:publish_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :pages %><br>
    <%= form.number_field :pages %><br>
    <% @article.errors.full_messages_for(:pages).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :keywords %><br>
    <%= form.text_area :keywords %><br>
    <% @article.errors.full_messages_for(:keywords).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %><br>
    <% @article.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ids %><br>
    <%= form.text_field :ids %><br>
    <% @article.errors.full_messages_for(:ids).each do |message| %>
      <div><%= message %></div>

      
    <% end %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
<p> Select one from the given options:
        <select id="select1" onchange="getOption()">
            <option value="book">Book</option>
            <option value="conference">Conference</option>
            <option value="journal">Journal</option>
            <option value="report">Report</option>
            <option value="thesis">Thesis</option>
        </select>
    </p></div>

<script type="text/javascript">
    function getOption() {
        selectElement = document.querySelector('#select1');
        output = selectElement.value;
        switch (output) {
          case "book":
            console.log("You entered book");
            break;
          
          case "conference":
            console.log("You entered conference");
            break;

          case "journal":
            console.log("You entered journal");
            break;

          case "report":
            console.log("You entered report");
            break;

          case "thesis":
            console.log("You entered thesis");
            break;
        
          default:
            console.log("You entered " + output);
            break;
        }
    }
    </script>