<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
        <%= article.type%>
      </a>
    </li>
  <% end %>
  
</ul>

<%= link_to "New Journal", new_journal_path %>
<%= link_to "New Conference", new_conference_path %>
<%= link_to "New Thesis", new_thesis_path %>
<%= link_to "New Book", new_book_path %>
<%= link_to "New Report", new_report_path %>
<%= link_to "New Article", new_article_path %>